# Boosting Algorithm for Regression

## Used Car Price Prediction

### 1) Problem statement.

* This dataset comprises used cars sold on cardehko.com in India as well as important features of these cars.
* If user can predict the price of the car based on input features.
* Prediction results can be used to give new seller the price suggestion based on market condition.

### 2) Data Collection.
* The Dataset is collected from scrapping from cardheko webiste
* The data consists of 13 column and 15411 rows.

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings

warnings.filterwarnings("ignore")

%matplotlib inline

In [7]:
df = pd.read_csv(r"C:\Users\rauna\codes\datasets\cardekho_imputated.csv", index_col=[0])

In [8]:
df.head()

        car_name    brand     model  ...  max_power  seats selling_price
0    Maruti Alto   Maruti      Alto  ...      46.30      5        120000
1  Hyundai Grand  Hyundai     Grand  ...      82.00      5        550000
2    Hyundai i20  Hyundai       i20  ...      80.00      5        215000
3    Maruti Alto   Maruti      Alto  ...      67.10      5        226000
4  Ford Ecosport     Ford  Ecosport  ...      98.59      5        570000

[5 rows x 13 columns]

### Data Cleaning
#### Handling Missing values

* Handling Missing values 
* Handling Duplicates
* Check data type
* Understand the dataset

In [9]:
## Check Null Values
##Check features with nan value
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [10]:
## Remove Unnecessary Columns
df.drop('car_name', axis=1, inplace=True)
df.drop('brand', axis=1, inplace=True)

In [11]:
df.head()

      model  vehicle_age  km_driven  ... max_power seats selling_price
0      Alto            9     120000  ...     46.30     5        120000
1     Grand            5      20000  ...     82.00     5        550000
2       i20           11      60000  ...     80.00     5        215000
3      Alto            9      37000  ...     67.10     5        226000
4  Ecosport            6      30000  ...     98.59     5        570000

[5 rows x 11 columns]

In [12]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [13]:
## Getting All Different Types OF Features
num_features = [feature for feature in df.columns if df[feature].dtype != 'O']
print('Num of Numerical Features :', len(num_features))
cat_features = [feature for feature in df.columns if df[feature].dtype == 'O']
print('Num of Categorical Features :', len(cat_features))
discrete_features=[feature for feature in num_features if len(df[feature].unique())<=25]
print('Num of Discrete Features :',len(discrete_features))
continuous_features=[feature for feature in num_features if feature not in discrete_features]
print('Num of Continuous Features :',len(continuous_features))

Num of Numerical Features : 7
Num of Categorical Features : 4
Num of Discrete Features : 2
Num of Continuous Features : 5

In [14]:
## Indpendent and dependent features
from sklearn.model_selection import train_test_split
X = df.drop(['selling_price'], axis=1)
y = df['selling_price']

In [15]:
X.head()

      model  vehicle_age  km_driven  ... engine max_power seats
0      Alto            9     120000  ...    796     46.30     5
1     Grand            5      20000  ...   1197     82.00     5
2       i20           11      60000  ...   1197     80.00     5
3      Alto            9      37000  ...    998     67.10     5
4  Ecosport            6      30000  ...   1498     98.59     5

[5 rows x 10 columns]

## Feature Encoding and Scaling
**One Hot Encoding for Columns which had lesser unique values and not ordinal**
* One hot encoding is a process by which categorical variables are converted into a form that could be provided to ML algorithms to do a better job in prediction.

In [16]:
len(df['model'].unique())

120

In [17]:
df['model'].value_counts()

model
i20             906
Swift Dzire     890
Swift           781
Alto            778
City            757
               ...
Altroz            1
C                 1
Ghost             1
Quattroporte      1
Gurkha            1
Name: count, Length: 120, dtype: int64

In [18]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X['model']=le.fit_transform(X['model'])

In [19]:
X.head()

   model  vehicle_age  km_driven seller_type  ... mileage engine  max_power  seats
0      7            9     120000  Individual  ...   19.70    796      46.30      5
1     54            5      20000  Individual  ...   18.90   1197      82.00      5
2    118           11      60000  Individual  ...   17.00   1197      80.00      5
3      7            9      37000  Individual  ...   20.92    998      67.10      5
4     38            6      30000      Dealer  ...   22.77   1498      98.59      5

[5 rows x 10 columns]

In [20]:
len(df['seller_type'].unique()),len(df['fuel_type'].unique()),len(df['transmission_type'].unique())

(3, 5, 2)

In [21]:
# Create Column Transformer with 3 types of transformers
num_features = X.select_dtypes(exclude="object").columns
onehot_columns = ['seller_type','fuel_type','transmission_type']

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, onehot_columns),
        ("StandardScaler", numeric_transformer, num_features)
        
    ],remainder='passthrough'
    
)

In [22]:
X=preprocessor.fit_transform(X)

In [23]:
pd.DataFrame(X)

        0    1    2    3   ...        10        11        12        13
0      1.0  0.0  0.0  0.0  ... -0.000276 -1.324259 -1.263352 -0.403022
1      1.0  0.0  0.0  0.0  ... -0.192071 -0.554718 -0.432571 -0.403022
2      1.0  0.0  0.0  0.0  ... -0.647583 -0.554718 -0.479113 -0.403022
3      1.0  0.0  0.0  0.0  ...  0.292211 -0.936610 -0.779312 -0.403022
4      0.0  0.0  1.0  0.0  ...  0.735736  0.022918 -0.046502 -0.403022
...    ...  ...  ...  ...  ...       ...       ...       ...       ...
15406  0.0  0.0  0.0  0.0  ...  0.026096 -0.767733 -0.757204 -0.403022
15407  0.0  0.0  0.0  0.0  ... -0.527711 -0.216964 -0.220803  2.073444
15408  0.0  0.0  1.0  0.0  ...  0.344954  0.022918  0.068225 -0.403022
15409  0.0  0.0  1.0  0.0  ... -0.887326  1.329794  0.917158  2.073444
15410  0.0  0.0  0.0  0.0  ... -0.407839  0.020999  0.395884 -0.403022

[15411 rows x 14 columns]

In [24]:
# separate dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((12328, 14), (3083, 14))

In [25]:
X_train

array([[ 0.        ,  0.        ,  1.        , ...,  1.75390551,
         2.66249771, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.55087963,
        -0.38602844, -0.40302241],
       [ 0.        ,  0.        ,  1.        , ...,  0.89033072,
         3.27453006, -0.40302241],
       ...,
       [ 1.        ,  0.        ,  0.        , ..., -0.9366097 ,
        -0.78070786, -0.40302241],
       [ 0.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.43582879, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.04616815,
         0.06194201, -0.40302241]])

## Model Training And Model Selection

In [26]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor, GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [27]:
##Create a Function to Evaluate Model
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [28]:
## Beginning Model Training
models = {
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "Adaboost Regressor":AdaBoostRegressor(),
    "Gradient Boosting Regressor":GradientBoostingRegressor(),
    "Xgboost Regressor" : XGBRegressor()
    
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    
    print('='*35)
    print('\n')

Decision Tree
Model performance for Training set
- Root Mean Squared Error: 20797.2352
- Mean Absolute Error: 5164.8199
- R2 Score: 0.9995
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 303481.3274
- Mean Absolute Error: 124485.8552
- R2 Score: 0.8777
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 129506.3835
- Mean Absolute Error: 39873.7285
- R2 Score: 0.9793
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 226567.0054
- Mean Absolute Error: 101899.9256
- R2 Score: 0.9318
===================================


Adaboost Regressor
Model performance for Training set
- Root Mean Squared Error: 462523.8681
- Mean Absolute Error: 349727.1070
- R2 Score: 0.7362
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 497797.5410
- Mean Absolute Error: 367086.1216
- R2 Score: 0.6708
===================================


Gradient Boosting Regressor
Model performance for Training set
- Root Mean Squared Error: 204944.5104
- Mean Absolute Error: 111709.5558
- R2 Score: 0.9482
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 257782.1708
- Mean Absolute Error: 126765.6681
- R2 Score: 0.9117
===================================


Xgboost Regressor
Model performance for Training set
- Root Mean Squared Error: 85441.7918
- Mean Absolute Error: 61009.3145
- R2 Score: 0.9910
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 246853.8227
- Mean Absolute Error: 99048.5066
- R2 Score: 0.9191
===================================

## Hyperparameter tuning for Ada Boost

In [46]:
AdaBoost_param ={
    "n_estimators":  [20,30,40,50,70],
    "learning_rate":  [0.6,0.5,0.4,0.3],
    "loss": ['linear', 'square', 'exponential']
}

In [47]:
# Models list for Hyperparameter tuning
randomcv_models = [
    ("AdaBoost Regressor",AdaBoostRegressor(),AdaBoost_param)                   
                   ]

In [ ]:
best_models = {}  
model_param = {}  

# Hyperparameter Tuning
for name, model, params in randomcv_models:
    random = RandomizedSearchCV(
        estimator=model,
        param_distributions=params,
        n_iter=100,
        cv=3,
        verbose=3,
        n_jobs=-1,
        random_state=42
    )
    random.fit(X_train, y_train)
    best_models[name] = random.best_estimator_
    model_param[name] = random.best_params_

Fitting 3 folds for each of 60 candidates, totalling 180 fits

In [66]:
# Display best parameters
for model_name, params in model_param.items():
    print(f"---------------- Best Params for {model_name} -------------------")
    print(params)

# Retrain using the best estimators
for name, model in best_models.items():
    model.fit(X_train, y_train)

    # Predict
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Evaluate
    model_train_mae, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)
    model_test_mae, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    # Print results
    print()
    print(f"====== {name} ======")
    print('Model performance for Training set')
    print(f"- Root Mean Squared Error: {model_train_rmse:.4f}")
    print(f"- Mean Absolute Error: {model_train_mae:.4f}")
    print(f"- R2 Score: {model_train_r2:.4f}")
    
    print('Model performance for Test set')
    print(f"- Root Mean Squared Error: {model_test_rmse:.4f}")
    print(f"- Mean Absolute Error: {model_test_mae:.4f}")
    print(f"- R2 Score: {model_test_r2:.4f}")
    print("=" * 40 + "\n")

---------------- Best Params for Xgboost Regressor -------------------
{'n_estimators': 300, 'max_depth': 5, 'learning_rate': 0.1, 'colsample_bytree': 0.8}

====== Xgboost Regressor ======
Model performance for Training set
- Root Mean Squared Error: 107872.7065
- Mean Absolute Error: 71943.1849
- R2 Score: 0.9857
Model performance for Test set
- Root Mean Squared Error: 282987.1247
- Mean Absolute Error: 101325.8009
- R2 Score: 0.8936
========================================

## Hyperparameter tuning for Gradient Boost

In [54]:
#Initialize few parameter for Hyperparamter tuning
gradient_params={
    "loss": ['squared_error', 'absolute_error'],
    "criterion": [ 'squared_error', 'mse'],
    "min_samples_split": [2, 8, 15, 20],
    "n_estimators": [200, 500, 1000],
    "max_depth": [5, 8, 15, 10],
    "learning_rate": [0.1, 0.01,0.001]
}

In [ ]:
randomcv_models = [
    ("Gradient Boost Regressor",GradientBoostingRegressor(),gradient_params)
                   ]

In [56]:
best_models = {}  
model_param = {}  

# Hyperparameter Tuning
for name, model, params in randomcv_models:
    random = RandomizedSearchCV(
        estimator=model,
        param_distributions=params,
        n_iter=50,
        cv=3,
        verbose=3,
        n_jobs=-1,
        random_state=42
    )
    random.fit(X_train, y_train)
    best_models[name] = random.best_estimator_
    model_param[name] = random.best_params_

Fitting 3 folds for each of 50 candidates, totalling 150 fits

In [58]:
# Display best parameters
for model_name, params in model_param.items():
    print(f"---------------- Best Params for {model_name} -------------------")
    print(params)

# Retrain using the best estimators
for name, model in best_models.items():
    model.fit(X_train, y_train)

    # Predict
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Evaluate
    model_train_mae, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)
    model_test_mae, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    # Print results
    print()
    print(f"====== {name} ======")
    print('Model performance for Training set')
    print(f"- Root Mean Squared Error: {model_train_rmse:.4f}")
    print(f"- Mean Absolute Error: {model_train_mae:.4f}")
    print(f"- R2 Score: {model_train_r2:.4f}")
    
    print('Model performance for Test set')
    print(f"- Root Mean Squared Error: {model_test_rmse:.4f}")
    print(f"- Mean Absolute Error: {model_test_mae:.4f}")
    print(f"- R2 Score: {model_test_r2:.4f}")
    print("=" * 40 + "\n")

---------------- Best Params for Gradient Boost Regressor -------------------
{'n_estimators': 500, 'min_samples_split': 20, 'max_depth': 5, 'loss': 'squared_error', 'learning_rate': 0.1, 'criterion': 'squared_error'}

====== Gradient Boost Regressor ======
Model performance for Training set
- Root Mean Squared Error: 95905.9867
- Mean Absolute Error: 66202.6796
- R2 Score: 0.9887
Model performance for Test set
- Root Mean Squared Error: 218183.5539
- Mean Absolute Error: 96810.4246
- R2 Score: 0.9368
========================================

## Hyperparameter tuning for XgBoost

In [59]:
xgboost_params = {"learning_rate": [0.1, 0.01],
    "max_depth": [5, 8, 12, 20,30],
    "n_estimators": [100,200,300],
    "colsample_bytree": [0.5, 0.8, 1, 0.3, 0.4]}

In [63]:
randomcv_models = [
    ("Xgboost Regressor",XGBRegressor(), xgboost_params)]

In [64]:
best_models = {}  
model_param = {}  

# Hyperparameter Tuning
for name, model, params in randomcv_models:
    random = RandomizedSearchCV(
        estimator=model,
        param_distributions=params,
        n_iter=50,
        cv=3,
        verbose=3,
        n_jobs=-1,
        random_state=42
    )
    random.fit(X_train, y_train)
    best_models[name] = random.best_estimator_
    model_param[name] = random.best_params_

Fitting 3 folds for each of 50 candidates, totalling 150 fits

In [65]:
# Display best parameters
for model_name, params in model_param.items():
    print(f"---------------- Best Params for {model_name} -------------------")
    print(params)

# Retrain using the best estimators
for name, model in best_models.items():
    model.fit(X_train, y_train)

    # Predict
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Evaluate
    model_train_mae, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)
    model_test_mae, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    # Print results
    print()
    print(f"====== {name} ======")
    print('Model performance for Training set')
    print(f"- Root Mean Squared Error: {model_train_rmse:.4f}")
    print(f"- Mean Absolute Error: {model_train_mae:.4f}")
    print(f"- R2 Score: {model_train_r2:.4f}")
    
    print('Model performance for Test set')
    print(f"- Root Mean Squared Error: {model_test_rmse:.4f}")
    print(f"- Mean Absolute Error: {model_test_mae:.4f}")
    print(f"- R2 Score: {model_test_r2:.4f}")
    print("=" * 40 + "\n")

---------------- Best Params for Xgboost Regressor -------------------
{'n_estimators': 300, 'max_depth': 5, 'learning_rate': 0.1, 'colsample_bytree': 0.8}

====== Xgboost Regressor ======
Model performance for Training set
- Root Mean Squared Error: 107872.7065
- Mean Absolute Error: 71943.1849
- R2 Score: 0.9857
Model performance for Test set
- Root Mean Squared Error: 282987.1247
- Mean Absolute Error: 101325.8009
- R2 Score: 0.8936
========================================